
.tablaNotAle > table{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* border: 2px solid black; */
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* width: 100%; */
    border-collapse: collapse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    /* margin: 5%; */
    margin-top: 15%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(231,231,231,1)));
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 100%);
}

th, td {
    border: 2px solid black;
    font-size: x-large;
    padding: 5px;
    width: 800px;
}

.tablaNotAle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding:5%;
}